footer {
  background-color: #e3000f; /* Rojo intenso de Santander */
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px; /* Espacio entre el contenido principal y el footer */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 40px; /* Ajusta el tamaño del logo según sea necesario */
  margin-bottom: 10px;
}

.social-icons span {
  margin: 0 10px;
  /* Aquí se aplicarían estilos para los iconos reales */
}